{% load static %}
<div id="main-slider" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#main-slider" data-slide-to="0" class="active"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img class="img-responsive" src="{% static 'images/slider/slider1.png' %}" height="100%" alt="slider">
				<div class="carousel-caption">
					<a href="/accounts/login/"><h2 style="color: #fff;">Register for the event </h2></a>
					<a href="/accounts/login/">GRAB YOUR TICKETS <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
            <div class="item">
				<img class="img-responsive" src="{% static 'images/slider/bg2.jpg' %}" alt="slider">
				<div class="carousel-caption">
					<a href="#sponsor"><h2 style="color: #fff;">Its a great time for you to be a partner </h2></a>
					<a href="#sponsor">SPONSOR NOW <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
