{% load static %}

<div id="partner-carousel" class="carousel slide" data-interval="false">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h2>Partners</h2>
				<a class="partner-control-left" href="#partner-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="partner-control-right" href="#partner-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
				<div class="carousel-inner">
					<div class="item active">
                        <h2> Institutional Partner </h2>
						<ul>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor1.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor2.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor3.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor4.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor5.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor6.png' %}" alt=""></a></li>
						</ul>
					</div>
					<div class="item">
                        <h2> Community  Partners </h2>
						<ul>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor6.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor5.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor4.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor3.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor2.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor1.png' %}" alt=""></a></li>
						</ul>
					</div>
                    <div class="item">
                        <h2> Media  Partners </h2>
						<ul>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor6.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor5.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor4.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor3.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor2.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor1.png' %}" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="light">
		<img class="img-responsive" src="{% static 'images/light.png' %}" alt="">
	</div>
</div>
