<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CO4Con - FSMI's 2nd National Conference</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="{% static 'js/html5shiv.js' %}"></script>
	    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head><!--/head-->

<body>
	<header id="header" role="banner">
		<div class="main-nav">
			<div class="container">
		        <div class="row">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="/">
		                	<h1 style="color: #FFF; text-align: center;">CO<sub>4</sub>Con</h1>
                            <!-- <img src="{% static 'images/logo.png'%}"/> -->
		                </a>
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">
		                    <li class="scroll active"><a href="#home">Home</a></li>
		                    <li class="scroll"><a href="#about">About</a></li>
		                    <li class="scroll"><a href="#event">Themes</a></li>
		                    <li class="scroll"><a href="#sponsor">Sponsors</a></li>
                            <li class="scroll"><a href="#partner">Partners</a></li>
		                    <li class="scroll"><a href="#venue">Venue</a></li>
                            <li class="scroll"><a href="#faq">FAQ</a></li>
		                    <li class="scroll"><a href="#contact">Contact</a></li>
		                    <!-- <li class="scroll"><a href="#media">Media</a></li> -->
		                </ul>
		            </div>
		        </div>
	        </div>
        </div>
    </header>
    <!--/#header-->

    <section id="home">
		{% include 'conference/landing.html' %}
    </section>
	<!--/#home-->

	<section id="overview">
        {% include 'conference/ticker.html' %}
	</section><!--/#explore-->

	<section id="about">
		{% include 'conference/about.html' %}
	</section><!--/#event-->

	<section id="event">
        {%include 'conference/themes.html' %}
	</section><!--/#about-->

	<section id="sponsor">
		{% include 'conference/sponsor.html' %}
	</section><!--/#sponsor-->

    <section id="partner">
		{% include 'conference/partners.html' %}
	</section><!--/#partner-->

	<section id="twitter">
		<!-- Include 'conference/twitter.html' -->
	</section><!--/#twitter-feed-->

    <section id="venue">
		{% include 'conference/venue.html' %}
	</section> <!-- Venue -->

    <section id="faq">
    	{% include 'conference/faq.html' %}
    </section><!-- FAQ -->

	<section id="contact">
		{% include 'conference/contact.html' %}
	</section><!--/#contact-->

	<span id="top-link-block" class="hidden">
	    <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
	        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
	    </a>
	</span><!-- /top-link-block -->
	<span id="social-media-block" class="hidden">
		<p class="well well-sm" >
	        <a href="https://facebook.com/fsftn" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;
	        <a href="https://twitter.com/fsftn" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
	        <a href="https://joindiaspora.com/fsftn" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
        </p>
	</span><!-- /top-link-block -->
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p> <a href="https://www.fsftn.org" target="_blank">FSFTN </a></p>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/coundown-timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scrollTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index_main.js' %}"></script>
</body>
</html>
