/* Common styles */
html {
    font-size: 1em;
    height: 100%;
}
body {
    padding-top: 5em;
    padding-bottom:60px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 0.885em;
    line-height: 1.45em;
    height: 100%;
}

/* Homepage styles */
.masthead {
    height: 27em;
    display: block;
    background: url('/static/images/masthead.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}
.header-big h2 {
  font-size: 1.5em;
  line-height: 1.4em;
}
.header-big {
    height: 18em;
    width: 100%;
}
.masthead:after {
    background: rgba(43, 91, 132, 0.1);
    content: '';
    display: block;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Customize Bootstrap */
.navbar-default {
    background-color: #FFF;
    border: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.navbar, .navbar-header {
    margin-bottom: 0;
    min-height: 5em;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #333;
    font-size: 1.08em;
}
.navbar-brand {
    padding: 0.9em 0 0.7em 0.6em;
    height: 70px;
}
.navbar-brand img {
    height: 100%;
}
.navbar-nav > li > a, .navbar-toggle {
    height: 4.7em;
    line-height: 4.7em;
    vertical-align: middle;
}
.navbar-toggle {
    border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0d202b;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    background: #EEE;
    color: #D5A952;
}
.navbar-default .navbar-nav>.open>a:focus {
    background: #EEE;
    color: #2b5b84;
}
.navbar-default .navbar-nav>li>a>.caret {
    color: rgba(0,0,0,0.3);
}
.dropdown-menu {
    background: #FFF;
}
.dropdown-menu>li>a {
    color: #333;
}
.dropdown-menu>li>a:hover {
    color: #D5A952;
    background: rgba(0,0,0,0.1);
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #CCC;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #D5A952;
    }
    .dropdown .visible-xs{
        display: inline-block !important;
    }
}
ul.socialaccount_providers {
    padding-left: 0;
    list-style-type: none;
}
a.socialaccount_provider {
    margin: 1em 0;
    text-align: center;
    padding: 0.5em 0.5em 0.35em 0.5em;
    border-bottom: 0.15em solid transparent;
    width: 100%;
    display: block;
    text-decoration: none;
    border-radius: 0.3em;
}
a.socialaccount_provider.github {
    background-color: #DDD;
    color: #444444;
}
a.socialaccount_provider.google {
    background-color: #4683ea;
    color: #FFF;
}
a.socialaccount_provider.google:hover {
    border-bottom: 0.15em solid #4683ea;
    background-color: #4387fd;
}
a.socialaccount_provider.github:hover {
    border-bottom: 0.15em solid #DBDBDB;
    background-color: #E5E5E5;
}
.icon {
    padding-right: 0.4em;
}

.btn-primary {
    background: #ffdd55;
    color: #7C6E0D;
    border-color: #dabd42;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #695E13;
    background-color: #dabd42;
    border-color: #C2A737;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.content {
    /* width: 90%; */
    margin: 0 auto;
}
@media (max-width: 768px) {
    .sidebar {
        margin-top: 1em;
    }
}
@media (min-width: 768px) {
    .sidebar {
        display: block;
        height: 100%;
        position: fixed;
        width: 25%;
    }
}


.im-checkout {
    margin: 0 auto;
}
.custom-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wmd-wrapper>.wmd-panel{
margin-left:auto;
margin-right:auto;
}
#tabs {
    float: right;
    font-weight: normal;
    margin-top: -42px;
}
#tabs a.youarehere {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #fff;
    color: #000;
    font-size: 120%;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0 11px 0 11px;
}

#tabs a {
    background: inherit;
    border: 1px solid transparent;
    color: #777;
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
    line-height: 20px;
    margin: 9px 8px 0 0;
    padding: 0 11px 0 11px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
#tabs a:hover {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #fff;
}
@media (min-width: 320px) {
    .custom-container {
    padding-right: 0px;
    padding-left: 0px;
    }
}
@media (max-width: 480px) {
    #tabs {
    margin-top: 0px;
    }
    #tabs a {
    margin-left:0px;
    margin-right:0px;
    }
}
@media (min-width: 768px) {
    .custom-container {
    width: 750px;
    }
    .wmd-wrapper>.wmd-panel{
    margin-left:24%;
    margin-right:auto;
    width:76%;
    }
}
@media (min-width: 992px){
    .custom-container {
    width: 960px;
    }
}
@media (min-width: 1200px){
    .custom-container {
    width: 960px;
    }
}


.wmd-panel .wmd-input{
    background-color:#ffffff;
}


.header-tab {
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}


.header-tab-title {
    margin-bottom: -10px;
    border-bottom: 1px solid #ccc;
    height: 34px;
    clear: both;
}
header-tab-title >h2{
    float: left;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
}



.statscontainer {
    float: left;
    padding:0px;
}
.stats {
    background:#BDD7E6;
    margin: 0px;
    padding: 4px 7px 6px 7px;
    width: 58px;
    border-radius: 8px;
}
.proposal-list h3 , p {
    margin:0px;
    margin-bottom:5px;
}
.margin-less{
    margin:0px;
}
.padding-less{
    padding:0px;
}
.border-less{
        border-top:none;
        border-bottom:none;
}

/*
    Header
    ---------------------------------------------------------------------------
*/

.head_content {
    text-align: center;
    background: #2c5aa0;
    color: #fff;
    padding: 2em 1em 2em 1em;
}
.head_content h1 {
    color: #ffdd55;
}

/* Arrow after status
 .stats:after, .stats:before {
    left: 73px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.stats:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #88b7d5;
    border-width: 9px;
    margin-top: -10px;
}
.stats:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 15px;
    margin-top: -16px;
} */
